In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/housing (2).csv')
print(df.info())
print(df.describe())
print(df["Ocean Proximity"].value_counts())
print(df.isnull().sum()[df.isnull().sum()>0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           200 non-null    float64
 1   latitude            200 non-null    float64
 2   housing_median_age  197 non-null    float64
 3   total_rooms         200 non-null    int64
 4   total_bedrooms      200 non-null    int64
 5   population          200 non-null    int64
 6   households          200 non-null    int64
 7   median_income       200 non-null    float64
 8   median_house_value  200 non-null    int64
 9   Ocean Proximity     200 non-null    object
dtypes: float64(4), int64(5), object(1)
memory usage: 15.8+ KB
None
        longitude    latitude  housing_median_age  total_rooms  \
count  200.000000  200.000000          197.000000   200.000000
mean  -119.490577   37.286170           25.908629  5313.825000
std      2.960710    2.757141           14.447363  2586.543676
min   -124.294558   32.587630            1.000000   505.000000
25%   -122.055033   35.000362           13.000000  3092.250000
50%   -119.385358   37.636831           26.000000  5545.500000
75%   -116.751129   39.524096           38.000000  7438.000000
max   -114.441655   41.860653           51.000000  9861.000000

       total_bedrooms   population   households  median_income  \
count      200.000000   200.000000   200.000000     200.000000
mean      1614.175000  2698.630000  1386.485000       8.103922
std        827.054114  1415.827632   841.008057       4.131875
min        109.000000   140.000000    52.000000       1.014400
25%        925.250000  1486.750000   752.000000       4.190000
50%       1736.000000  2814.000000  1337.500000       8.452200
75%       2294.750000  3911.000000  2080.500000      11.668000
max       2998.000000  4995.000000  2991.000000      14.862100

       median_house_value
count          200.000000
mean        286586.445000
std         125916.991364
min          51969.000000
25%         182156.000000
50%         284650.000000
75%         391709.250000
max         498625.000000
Ocean Proximity
INLAND        43
<1H OCEAN     43
ISLAND        42
NEAR BAY      38
NEAR OCEAN    34
Name: count, dtype: int64
housing_median_age    3
dtype: int64

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/MLdatasets/adult.csv')